.users-page{
    margin: 2rem;
    height: 100%;

    h1{
        font-size: 40px;
        color: var(--dark-blue);
    }

    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        column-gap: 30px;
        row-gap: 30px;
        overflow-y: auto;
        max-height: calc(100vh - 235px);
    }
}